data/
pipeline/1000Genomes/
pipeline/humanSpecificSites/
pipeline/slurm*
sims/*/*
!sims/*/sim.log
scripts/clinEff
scripts/snpEff
models/*
!models/jpt/backups/*/jptPredictions/*png
pipeline/3-send_data2deep.bash
